layout "compact"

theme "nightfox"
// theme "everforest-light"
pane_frames false

keybinds {
    // keybinds are divided into modes
    normal {
		unbind "Ctrl h" // I use this for navigating nvim splits
		// unbind "Ctrl s" // I don't need this

        // bind instructions can include one or more keys (both keys will be bound separately)
        // bind keys can include one or more actions (all actions will be performed with no sequential guarantees)
        bind "Ctrl g" { SwitchToMode "locked"; }
        bind "Ctrl p" { SwitchToMode "pane"; }
        bind "Alt n" { NewPane; }
        bind "Alt h" "Alt Left" { MoveFocusOrTab "Left"; }

		bind "Ctrl z" { LaunchOrFocusPlugin "file:~/.config/zellij/plugins/zellij-sessionizer.wasm" {
            floating true
            move_to_focused_tab true
            cwd "/"
            root_dirs "/Users/petesv/code;/Users/petesv/.dotfiles;/Users/petervaiciulis/code;/Users/petervaiciulis/.dotfiles"
            // session_layout "myCustomLayout"
        };
	  }
    }
    pane {
        bind "h" "Left" { MoveFocus "Left"; }
        bind "l" "Right" { MoveFocus "Right"; }
        bind "j" "Down" { MoveFocus "Down"; }
        bind "k" "Up" { MoveFocus "Up"; }
        bind "p" { SwitchFocus; }
    }
    locked {
        bind "Ctrl g" { SwitchToMode "normal"; }
    }
}
